spring:
  cloud:
    gateway:
      # Force l'utilisation du résolveur DNS de Windows/OS au lieu de celui de Netty
      httpclient:
        use-native-dns-resolver: true

      # Syntaxe Spring Cloud 2025
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: r1
              uri: lb://CUSTOMER-SERVICE
              predicates:
                - Path=/customers/**
            - id: r2
              uri: lb://INVENTORY-SERVICE
              predicates:
                - Path=/products/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    # 1. Utilise l'adresse IP pour la communication
    prefer-ip-address: true
    # 2. CRUCIAL : Force Eureka à afficher l'IP dans son interface et à la transmettre à la Gateway
    instance-id: ${spring.cloud.client.ip-address}:${spring.application.name}:${server.port}